{% extends 'layout.html' %}

{% block head %}
	<title>Create Adjective - PyLatein</title>
	{% load bootstrap %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h1 class="page-header">Create a new Adjective!</h1>
				<div class="jumbotron" style="background-color: orange; padding: 10px;">
					<h3>Fill the table quickly!</h3>
					<div class="form-group">
						<label class="control-label" for="stem">Stem</label>
						<div class=" ">
							<input type="text" class="form-control" id="stem" name="stem">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="declination">Declination</label>
						<div class=" ">
							<select class="form-control" id="declination" name="declination">
								{% for declination in declinations %}
									<option value="{{ declination.id }}">{{ declination.description }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
          <button class="btn btn-default btn-lg" onclick="fill_form()">Fill!</button>
				</div>
				<div class="jumbotron" style="padding: 10px;">
					<form role="form" method="post" action="{% url 'create_adjective' %}">
						{% csrf_token %}
						{{ form.translation|bootstrap }}
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="tab" href="#positive">Positive</a></li>
              <li><a data-toggle="tab" href="#comparative">Comparative</a></li>
              <li><a data-toggle="tab" href="#superlative">Superlative</a></li>
            </ul>
            <div class="tab-content">
              <div id="positive" class="tab-pane fade in active">
                <table class="table table-bordered">
                  <tr>
                    <th>Sg</th>
                    <th>Maskulin</th>
                    <th>Feminin</th>
                    <th>Neutrum</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.posSg1m|bootstrap_inline }}</td>
                    <td>{{ form.posSg1f|bootstrap_inline }}</td>
                    <td>{{ form.posSg1n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.posSg2m|bootstrap_inline }}</td>
                    <td>{{ form.posSg2f|bootstrap_inline }}</td>
                    <td>{{ form.posSg2n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.posSg3m|bootstrap_inline }}</td>
                    <td>{{ form.posSg3f|bootstrap_inline }}</td>
                    <td>{{ form.posSg3n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>4.</th>
                    <td>{{ form.posSg4m|bootstrap_inline }}</td>
                    <td>{{ form.posSg4f|bootstrap_inline }}</td>
                    <td>{{ form.posSg4n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>5.</th>
                    <td>{{ form.posSg5m|bootstrap_inline }}</td>
                    <td>{{ form.posSg5f|bootstrap_inline }}</td>
                    <td>{{ form.posSg5n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>6.</th>
                    <td>{{ form.posSg6m|bootstrap_inline }}</td>
                    <td>{{ form.posSg6f|bootstrap_inline }}</td>
                    <td>{{ form.posSg6n|bootstrap_inline }}</td>
                  </tr>
                </table>
                <table class="table table-bordered">
                  <tr>
                    <th>Pl</th>
                    <th>Maskulin</th>
                    <th>Feminin</th>
                    <th>Neutrum</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.posPl1m|bootstrap_inline }}</td>
                    <td>{{ form.posPl1f|bootstrap_inline }}</td>
                    <td>{{ form.posPl1n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.posPl2m|bootstrap_inline }}</td>
                    <td>{{ form.posPl2f|bootstrap_inline }}</td>
                    <td>{{ form.posPl2n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.posPl3m|bootstrap_inline }}</td>
                    <td>{{ form.posPl3f|bootstrap_inline }}</td>
                    <td>{{ form.posPl3n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>4.</th>
                    <td>{{ form.posPl4m|bootstrap_inline }}</td>
                    <td>{{ form.posPl4f|bootstrap_inline }}</td>
                    <td>{{ form.posPl4n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>5.</th>
                    <td>{{ form.posPl5m|bootstrap_inline }}</td>
                    <td>{{ form.posPl5f|bootstrap_inline }}</td>
                    <td>{{ form.posPl5n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>6.</th>
                    <td>{{ form.posPl6m|bootstrap_inline }}</td>
                    <td>{{ form.posPl6f|bootstrap_inline }}</td>
                    <td>{{ form.posPl6n|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
              <div id="comparative" class="tab-pane fade">
                <table class="table table-bordered">
                  <tr>
                    <th>Sg</th>
                    <th>Maskulin</th>
                    <th>Feminin</th>
                    <th>Neutrum</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.compSg1m|bootstrap_inline }}</td>
                    <td>{{ form.compSg1f|bootstrap_inline }}</td>
                    <td>{{ form.compSg1n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.compSg2m|bootstrap_inline }}</td>
                    <td>{{ form.compSg2f|bootstrap_inline }}</td>
                    <td>{{ form.compSg2n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.compSg3m|bootstrap_inline }}</td>
                    <td>{{ form.compSg3f|bootstrap_inline }}</td>
                    <td>{{ form.compSg3n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>4.</th>
                    <td>{{ form.compSg4m|bootstrap_inline }}</td>
                    <td>{{ form.compSg4f|bootstrap_inline }}</td>
                    <td>{{ form.compSg4n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>5.</th>
                    <td>{{ form.compSg5m|bootstrap_inline }}</td>
                    <td>{{ form.compSg5f|bootstrap_inline }}</td>
                    <td>{{ form.compSg5n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>6.</th>
                    <td>{{ form.compSg6m|bootstrap_inline }}</td>
                    <td>{{ form.compSg6f|bootstrap_inline }}</td>
                    <td>{{ form.compSg6n|bootstrap_inline }}</td>
                  </tr>
                </table>
                <table class="table table-bordered">
                  <tr>
                    <th>Pl</th>
                    <th>Maskulin</th>
                    <th>Feminin</th>
                    <th>Neutrum</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.compPl1m|bootstrap_inline }}</td>
                    <td>{{ form.compPl1f|bootstrap_inline }}</td>
                    <td>{{ form.compPl1n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.compPl2m|bootstrap_inline }}</td>
                    <td>{{ form.compPl2f|bootstrap_inline }}</td>
                    <td>{{ form.compPl2n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.compPl3m|bootstrap_inline }}</td>
                    <td>{{ form.compPl3f|bootstrap_inline }}</td>
                    <td>{{ form.compPl3n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>4.</th>
                    <td>{{ form.compPl4m|bootstrap_inline }}</td>
                    <td>{{ form.compPl4f|bootstrap_inline }}</td>
                    <td>{{ form.compPl4n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>5.</th>
                    <td>{{ form.compPl5m|bootstrap_inline }}</td>
                    <td>{{ form.compPl5f|bootstrap_inline }}</td>
                    <td>{{ form.compPl5n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>6.</th>
                    <td>{{ form.compPl6m|bootstrap_inline }}</td>
                    <td>{{ form.compPl6f|bootstrap_inline }}</td>
                    <td>{{ form.compPl6n|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
              <div id="superlative" class="tab-pane fade">
                <table class="table table-bordered">
                  <tr>
                    <th>Sg</th>
                    <th>Maskulin</th>
                    <th>Feminin</th>
                    <th>Neutrum</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.supSg1m|bootstrap_inline }}</td>
                    <td>{{ form.supSg1f|bootstrap_inline }}</td>
                    <td>{{ form.supSg1n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.supSg2m|bootstrap_inline }}</td>
                    <td>{{ form.supSg2f|bootstrap_inline }}</td>
                    <td>{{ form.supSg2n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.supSg3m|bootstrap_inline }}</td>
                    <td>{{ form.supSg3f|bootstrap_inline }}</td>
                    <td>{{ form.supSg3n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>4.</th>
                    <td>{{ form.supSg4m|bootstrap_inline }}</td>
                    <td>{{ form.supSg4f|bootstrap_inline }}</td>
                    <td>{{ form.supSg4n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>5.</th>
                    <td>{{ form.supSg5m|bootstrap_inline }}</td>
                    <td>{{ form.supSg5f|bootstrap_inline }}</td>
                    <td>{{ form.supSg5n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>6.</th>
                    <td>{{ form.supSg6m|bootstrap_inline }}</td>
                    <td>{{ form.supSg6f|bootstrap_inline }}</td>
                    <td>{{ form.supSg6n|bootstrap_inline }}</td>
                  </tr>
                </table>
                <table class="table table-bordered">
                  <tr>
                    <th>Pl</th>
                    <th>Maskulin</th>
                    <th>Feminin</th>
                    <th>Neutrum</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.supPl1m|bootstrap_inline }}</td>
                    <td>{{ form.supPl1f|bootstrap_inline }}</td>
                    <td>{{ form.supPl1n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.supPl2m|bootstrap_inline }}</td>
                    <td>{{ form.supPl2f|bootstrap_inline }}</td>
                    <td>{{ form.supPl2n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.supPl3m|bootstrap_inline }}</td>
                    <td>{{ form.supPl3f|bootstrap_inline }}</td>
                    <td>{{ form.supPl3n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>4.</th>
                    <td>{{ form.supPl4m|bootstrap_inline }}</td>
                    <td>{{ form.supPl4f|bootstrap_inline }}</td>
                    <td>{{ form.supPl4n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>5.</th>
                    <td>{{ form.supPl5m|bootstrap_inline }}</td>
                    <td>{{ form.supPl5f|bootstrap_inline }}</td>
                    <td>{{ form.supPl5n|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>6.</th>
                    <td>{{ form.supPl6m|bootstrap_inline }}</td>
                    <td>{{ form.supPl6f|bootstrap_inline }}</td>
                    <td>{{ form.supPl6n|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
						</div>
            <div class="form-group">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
  {% load staticfiles %}
  <script src="{% static 'js/grammar/base.js' %}"></script>
  <script src="{% static 'js/grammar/adjective.js' %}"></script>
	<script>
		$(document).ready(function(){
      window.declinations=loadJSON('{{ declinations_json|escapejs }}')
		});
	</script>
{% endblock %} scripts %}
