{% extends 'form.html' %}

{% block head %}
  {{ super() }}
	<title>Create Noun - PyLatein</title>
{% endblock %}

{% block header %}Create a new Noun!{% endblock %}
{% block form_url %}{{ request.path }}{% endblock %}

{% block helpers %}
  {{ form.declination|bootstrap }}
  {{ form.genus|bootstrap }}
  <div class="form-group">
    <label class="control-label" for="stem">Stem</label>
    <input type="text" class="form-control" id="stem" name="stem">
  </div>
  <div class="form-group">
    <input id="irreg_sg1" type="checkbox" aria-label="..." onclick="$('#irreg_group').slideToggle()">
    <label for="irreg_sg1">Irregular 1. Case Sg.?</label>
  </div>
  <div class="form-group" id="irreg_group">
    <label class="control-label" for="sg1">Nominative Sg.</label>
    <input type="text" class="form-control" id="sg1" name="sg1">
  </div>
  <div class="form-group">
    <input id="pl_only" type="checkbox" aria-label="...">
    <label for="pl_only">Plural only</label>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-default btn-lg" onclick="fill_form()">Fill!</button>
  </div>
{% endblock %}

{% block form %}
  {{ form.translation|bootstrap }}
  <table class="table table-bordered table-responsive">
    <tr>
      <th></th>
      <th>Singular</th>
      <th>Plural</th>
    </tr>
    <tr>
      <th>1.</th>
      <td>{{ form.sg1|bootstrap_inline }}</td>
      <td>{{ form.pl1|bootstrap_inline }}</td>
    </tr>
    <tr>
      <th>2.</th>
      <td>{{ form.sg2|bootstrap_inline }}</td>
      <td>{{ form.pl2|bootstrap_inline }}</td>
    </tr>
    <tr>
      <th>3.</th>
      <td>{{ form.sg3|bootstrap_inline }}</td>
      <td>{{ form.pl3|bootstrap_inline }}</td>
    </tr>
    <tr>
      <th>4.</th>
      <td>{{ form.sg4|bootstrap_inline }}</td>
      <td>{{ form.pl4|bootstrap_inline }}</td>
    </tr>
    <tr>
      <th>5.</th>
      <td>{{ form.sg5|bootstrap_inline }}</td>
      <td>{{ form.pl5|bootstrap_inline }}</td>
    </tr>
    <tr>
      <th>6.</th>
      <td>{{ form.sg6|bootstrap_inline }}</td>
      <td>{{ form.pl6|bootstrap_inline }}</td>
    </tr>
  </table>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ static('js/grammar/decline.js') }}"></script>
	<script>
    function fill_form(){
      var sg1=$("#sg1").val();
      if (! $("#irreg_sg1").is(":checked")){
        sg1="__auto__";
      }
      var result=decline(sg1, $("#stem").val(),
        $("#id_genus").val(), $("#id_declination").val(), $("#pl_only").is(":checked"));
      for (var i = 0; i < cases.length; i++){
        $("#id_"+cases[i]).val(result[cases[i]]);
      }
    }
    function updateUI(){
      if (["C", "M", "I"].indexOf($("#id_declination").val()) > -1){
        $("#irreg_sg1").prop("checked", true);
        $("#irreg_group").slideDown();
      }
      else{
        $("#irreg_sg1").prop("checked", false);
        $("#irreg_group").slideUp();
      }
    }
    $(document).ready(function(){
      $("#irreg_group").slideUp(0);
      $("#id_declination").on("change", updateUI);
      updateUI();
    });
	</script>
{% endblock %} scripts %}
