{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
	<title>Search Results - PyLatein</title>
{% endblock %}

{% block cols %}
  <h1 class="page-header">Search results</h1>
  {% if nouns %}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h1 class="page-header">Nouns</h1>
      <table id="table_nomina" class="table table-striped table-hover">
        <tr>
          <th>Latin</th>
          <th>Translation</th>
        </tr>
        {% for noun in nouns %}
          <tr>
            <td><a href="{{ url('vokabel:view_noun', pk=noun.id) }}">{{ noun }}</a></td>
            <td>{{ noun.translation }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
  {% if verbs %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <h1 class="page-header">Verbs</h1>
    <table id="table_verbs" class="table table-striped table-hover">
      <tr>
        <th>Latin</th>
        <th>Translation</th>
      </tr>
      {% for verb in verbs %}
        <tr>
          <td><a href="{{ url('vokabel:view_verb', pk=verb.id) }}">{{ verb }}</a></td>
          <td>{{ verb.translation }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  {% if adjectives %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <h1 class="page-header">Adjectives</h1>
    <table id="table_adjectives" class="table table-striped table-hover">
      <tr>
        <th>Latin</th>
        <th>Translation</th>
      </tr>
      {% for adjective in adjectives %}
        <tr>
          <td><a href="{{ url('vokabel:view_adjective', pk=adjective.id) }}">{{ adjective }}</a></td>
          <td>{{ adjective.translation }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
{% endblock %}
