{% extends 'layout.html' %}

{% block head %}
	<title>Create Verb - PyLatein</title>
	{% load bootstrap %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
				<div class="jumbotron" style="background-color: orange; padding: 10px;">
					<h3>Fill it quickly!</h3>
					<div class="form-group">
						<label class="control-label" for="conjugation">Conjugation</label>
						<div class=" ">
							<select class="form-control" id="conjugation" onchange="updateUI()">
                <option value="A">A-Conjugation</option>
                <option value="E">E-Conjugation</option>
                <option value="C">Consonant Conjugation</option>
                <option value="I">I-Conjugation</option>
                <option value="M">Mixed Conjugation</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="present_stem">Present Stem</label>
						<div class=" ">
							<input type="text" class="form-control" id="present_stem">
						</div>
					</div>
					<div class="form-group hidden" id="perfect_stem_group">
						<label class="control-label" for="perfect_stem">Perfect Stem</label>
						<div class=" ">
							<input type="text" class="form-control" id="perfect_stem">
						</div>
					</div>
          <button class="btn btn-default btn-lg" onclick="fill_form()">Fill!</button>
				</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <form role="form" method="post" action="{% url 'create_verb' %}">
          {% csrf_token %}
          {{ form.infinitive|bootstrap }}
          {{ form.imperative_sg|bootstrap }}
          {{ form.imperative_pl|bootstrap }}
          {{ form.translation|bootstrap }}
          <!-- Use nav-pills, nav-tabs. To center tabs add nav-justified to the class for ul -->
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#present">Present</a></li>
            <li><a data-toggle="tab" href="#perfect">Perfect</a></li>
            <li><a data-toggle="tab" href="#imperfect">Imperfect</a></li>
            <li><a data-toggle="tab" href="#pluqperfect">Plusquamperfect</a></li>
            <li><a data-toggle="tab" href="#future">Future</a></li>
            <li><a data-toggle="tab" href="#future2">Future II</a></li>
          </ul>
          <div class="tab-content">
            <div id="present" class="tab-pane fade in active">
              <div class="jumbotron" style="padding: 10px;">
                <table class="table table-bordered">
                  <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.present_sg1|bootstrap_inline }}</td>
                    <td>{{ form.present_pl1|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.present_sg2|bootstrap_inline }}</td>
                    <td>{{ form.present_pl2|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.present_sg3|bootstrap_inline }}</td>
                    <td>{{ form.present_pl3|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="perfect" class="tab-pane fade">
              <div class="jumbotron" style="padding: 10px;">
                <table class="table table-bordered">
                  <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.perfect_sg1|bootstrap_inline }}</td>
                    <td>{{ form.perfect_pl1|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.perfect_sg2|bootstrap_inline }}</td>
                    <td>{{ form.perfect_pl2|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.perfect_sg3|bootstrap_inline }}</td>
                    <td>{{ form.perfect_pl3|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="imperfect" class="tab-pane fade">
              <div class="jumbotron" style="padding: 10px;">
                <table class="table table-bordered">
                  <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.imperfect_sg1|bootstrap_inline }}</td>
                    <td>{{ form.imperfect_pl1|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.imperfect_sg2|bootstrap_inline }}</td>
                    <td>{{ form.imperfect_pl2|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.imperfect_sg3|bootstrap_inline }}</td>
                    <td>{{ form.imperfect_pl3|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="pluqperfect" class="tab-pane fade">
              <div class="jumbotron" style="padding: 10px;">
                <table class="table table-bordered">
                  <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.pluqperfect_sg1|bootstrap_inline }}</td>
                    <td>{{ form.pluqperfect_pl1|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.pluqperfect_sg2|bootstrap_inline }}</td>
                    <td>{{ form.pluqperfect_pl2|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.pluqperfect_sg3|bootstrap_inline }}</td>
                    <td>{{ form.pluqperfect_pl3|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="future" class="tab-pane fade">
              <div class="jumbotron" style="padding: 10px;">
                <table class="table table-bordered">
                  <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.future_sg1|bootstrap_inline }}</td>
                    <td>{{ form.future_pl1|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.future_sg2|bootstrap_inline }}</td>
                    <td>{{ form.future_pl2|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.future_sg3|bootstrap_inline }}</td>
                    <td>{{ form.future_pl3|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="future2" class="tab-pane fade">
              <div class="jumbotron" style="padding: 10px;">
                <table class="table table-bordered">
                  <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                  </tr>
                  <tr>
                    <th>1.</th>
                    <td>{{ form.future2_sg1|bootstrap_inline }}</td>
                    <td>{{ form.future2_pl1|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>2.</th>
                    <td>{{ form.future2_sg2|bootstrap_inline }}</td>
                    <td>{{ form.future2_pl2|bootstrap_inline }}</td>
                  </tr>
                  <tr>
                    <th>3.</th>
                    <td>{{ form.future2_sg3|bootstrap_inline }}</td>
                    <td>{{ form.future2_pl3|bootstrap_inline }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
	</div>
{% endblock %}

{% block scripts %}
  {% load staticfiles %}
  <script src="{% static 'js/grammar/conjugate.js' %}"></script>
	<script>
    function fill_form(){
      var result=conjugate($("#present_stem").val(), $("#perfect_stem").val(), $("#conjugation").val());
      $("#id_present_sg1").val(result.present_sg1);
      Object.keys(result).forEach(function (key){
        $("#id_"+key).val(result[key]);
      })
    }
		$(document).ready(function(){
      updateUI()
		});
    function updateUI(){
      var conjugation=$("#conjugation").val();
      if ((conjugation == "C") || (conjugation == "M")){$("#perfect_stem_group").removeClass("hidden");}
      else{$("#perfect_stem_group").addClass("hidden");}
    }
	</script>
{% endblock %} scripts %}
