{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
	<title>Trainer - PyLatein</title>
{% endblock %}

{% block content %}
  <h4 id="prompt">Prompt</h4>
  <label class="control-label">Translation</label>
  <input id="input" class="form-control" type="text" placeholder="Enter translation here">
  <div id="correct_alert" class="alert alert-success">Correct!</div>
  <div id="wrong_alert" class="alert alert-danger">Sorry, but that was wrong!</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ static('trainer/base.js') }}"></script>
  <script src="{{ static('trainer/translation.js') }}"></script>
  <script>
  $(document).ready(function(){
    var vocs={{ vocs|safe }};
    var controller = new SimpleController(new Trainer(), vocs, new InputWidget("#input"), new SlidingNotifier("#correct_alert", "#wrong_alert"), "#prompt");
    controller.input.translation.on("change", function(){controller.check()});
    controller.notifier.correct.slideUp(500);
    controller.notifier.wrong.slideUp(500);
    controller.start()
  })
  </script>
{% endblock %}
